
*{
    margin:0;
    padding: 0;
}

:root{
    --cell-border-color:#aaa;
    --body-bg-color:#546;
    --body-color: #fff;
    --gameboard-bg-color:#fff;
    --gameboard-color: #000;
    --gameboard-shadow-color:#333;
    --footer-color:#56b0ff;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--body-bg-color);
    color:var(--body-color);
}

#header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 24px;
}

#footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 16px;
    color:var(--footer-color);
}

/* gameboard */

#gameboard{
    display: grid;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 70px 70px 70px;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    background-color: var(--gameboard-bg-color);
    color: var(--gameboard-color);
    box-shadow: 0px 11px 10px var(--gameboard-shadow-color);
    border-radius: 10px;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.r1, .r2{
    border-bottom: 1px solid var(--cell-border-color);
}
.c1, .c2 {
    border-right: 1px solid var(--cell-border-color);
}