
*{
    margin:0;
    padding: 0;
}

:root{
    --cell-border-color:#aaa;
    --body-bg-color:#546;
    --body-color: #fff;
    --gameboard-bg-color:#fff;
    --gameboard-color: #000;
    --gameboard-shadow-color:#333;
    --footer-color:#56b0ff;
    --button-bg-color:rgb(242, 255, 0);
    --button-pressed-bg-color:rgb(255, 196, 0);
    --button-color:#000;
    --winner-cell-bg-color:rgb(255, 174, 174);
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--body-bg-color);
    color:var(--body-color);
}

button{
    cursor: pointer;
}

#header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 24px;
}

#footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 16px;
    color:var(--footer-color);
}

/* button section */

#button-section{
    display: flex;
    justify-content: center;
    padding-top:60px;
}

#restart-btn {
    border:0;
    padding:6px 10px;
    font-size:14px;
    background-color: var(--button-bg-color);
    border-radius: 4px;
    color:var(--button-color);
}

#restart-btn:active {
    background-color: var(--button-pressed-bg-color);
}

/* gameboard */

#gameboard{
    display: grid;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 70px 70px 70px;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    background-color: var(--gameboard-bg-color);
    color: var(--gameboard-color);
    box-shadow: 0px 11px 10px var(--gameboard-shadow-color);
    border-radius: 10px;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.r1, .r2{
    border-bottom: 1px solid var(--cell-border-color);
}
.c1, .c2 {
    border-right: 1px solid var(--cell-border-color);
}

.r1.c1{
    border-top-left-radius: 10px;
}

.r1.c3{
    border-top-right-radius: 10px;
}

.r3.c1 {
    border-bottom-left-radius: 10px;
}

.r3.c3 {
    border-bottom-right-radius: 10px;
}

.winner-cell{
    background-color: var(--winner-cell-bg-color);
}

/* result container */

#result-container{
    height:136px;
    display: flex;
    justify-content: center;
    align-items: center;
}